<th:block th:fragment="hrmsScripts(needsDataTables)" xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:if="${needsDataTables}" th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:if="${needsDataTables}" th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/js/hrms-session.js}"></script>
    <script th:src="@{/js/hrms-app.js}"></script>
    <script th:src="@{/js/hrms-custom-select.js}"></script>
</th:block>
