.form-container{
	background: LightGray;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.row{
	margin:	0 auto;
	margin-left: 350px;
    margin-top: 50px;	
    width:	500px;
   
     
}

