<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bajaj Finserv - Upload</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">


    <script src="js/jquery361.js" type="text/javascript"></script>
    <script src="js/async-upload.js"></script>

    <link rel="stylesheet" href="css/jsdelivr.css" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:insert="SideBar::SideBar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>





                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${session.userName}" id="username"> </span> <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#profileModal"> <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"> <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class=""></div>

                <div class="row">
                    <div class="col-lg-7">
                        <div class="p-4">
                            <div class="text-center">
                                <h4 th:text="${msg}"></h4>
                                <h1 class="h4 text-gray-900 mb-4">Upload File</h1>
                            </div>
                            <form enctype="multipart/form-data">
                                <div class="form-group row">
                                    <div class="col-sm-5 ">
                                        <label class="">Choose Table</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select name="tab" aria-label="Default select example" class="form-select form-control" id="tableName" onchange="downloadFormat()">
                                                <option value="Select" selected>--Select--</option>
                                                <option th:each="temp : ${tabList}" th:value="${temp}" th:text="${#strings.replace(temp,'_temp','')}">
                                            </select>
                                            <button type="button" id="format" class="btn btn-secondary" style="visibility: hidden; margin-top: 8%" onclick="formatCSV()">Download Format</button>
                                            <small class="col-field-msg form-text text-danger ml-2" id="table-name-msg"></small>
                                        </div>


                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-5 ">
                                        <label class="">Choose File</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input class="" type="file" id="file" name="file">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group row" sec:authorize="hasAuthority('ADMIN')">
                                    <div class="col-sm-4">
                                        <div class="custom-control custom-checkbox small">
                                            <input name="check" type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Truncate Table
                                            </label>
                                        </div>
                                    </div>
                                </div>



                                <button type="button" class="btn btn-primary btn-user" onclick="sendFile()">Submit</button>
                                <a href="/" class="btn btn-primary btn-user "> Back </a>

                            </form>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <script>
                var columnNames = ""
                					function downloadFormat(){
                						const tableName = $("#tableName").val();
                						
                						if(tableName != "Select"){
                							 $("#format").css("visibility", "visible");
                							 $.ajax({
                								    type: "GET",
                								    contentType: "application/json",
                								    url: "/api/user/getColumns?tabName=" + tableName,
                								    dataType: "json",
                								    cache: false,
                								    timeout: 600000,
                								    success: function (data) {
                								    	columnNames = data.result[0]
                								    },
                								    error: function (e) {
                								    	$("#msg").html("Some error occurred!")
                									      $("#successModal").modal("show")
                								    },
                								  });
                								} 
                						}
                						
                					
                					function formatCSV(){
                						const tableName = $("#tableName").val();
                						var listColumns = columnNames.split(",")
                						var obj = {};
                						var csv = ""
                						var csvFileData = [];
                						var data = [];
                							for(var i=0;i<listColumns.length;i++){
                								listColumns[i] = listColumns[i].trim()
                								if(i == listColumns.length -1 )
                									csv += listColumns[i] + "\n"
                								else
                									csv += listColumns[i] + ","
                							}
                							
                							listColumns.forEach((item) =>{
                								if(item != "PREVIOUS_STATE" && item != "NEW_STATE" && item != "ACTION" && item != "UPDATED_BY"){
                									const key_ = item.toLowerCase().replace(/_([a-z])/g, function(match, group1) {
                										  return group1.toUpperCase()
                									  })
                									 obj[key_] = ""
                								}
                							})
                							
                							
                						
                						listColumns.forEach((item) => {
                						  if(item == "PREVIOUS_STATE" || item == "NEW_STATE"){
                							  const txtObj = JSON.stringify(obj).replaceAll(",","|")
                						    data.push("'"+ txtObj +"'");
                						  } else if(item == "ACTION"){
                						    data.push("'BULK_APPROVED'");
                						  } else if (item == "ID"){
                							  data.push("default")
                						  } else if(item == "CREATED_DATE" || item == "LAST_UPDATED_DATE"){
                							  data.push("current_timestamp()")
                						  }else if(item == 'UPDATED_BY'){
                							  data.push("'" + $("#username").text()+ "'")
                						  }else if(item == 'STATUS'){
                							  data.push("0")
                						  }
                						  else {
                						    data.push("''");
                						  }
                						});
                						
                						csv += data.join(",") + "\n";
                
                						//display the created CSV data on the web browser   document.write(csv);
                						var hiddenElement = document
                								.createElement('a');
                						hiddenElement.href = 'data:text/csv;charset=utf-8,'
                								+ encodeURI(csv);
                
                						//provide the name for the CSV file to be downloaded  
                						hiddenElement.download = tableName +  '_format.csv';
                						hiddenElement.click(); 
                						
                					}
                					
                					function sendFile() {
                					    const tableName = $("#tableName").val();
                					    const check = $('#customCheck').prop('checked');

                					    const checkTruncateTablePromise = new Promise((resolve, reject) => {
                					        if (check) {
                					            console.log("Checking for Truncate Box Checked");
                					            checkTruncateTable(resolve, reject);
                					        } else {
                					            resolve(); // Resolve immediately if check is false
                					            $("#loader").modal('show')
                					        }
                					    });

                					    function handleCheckResult() {
                					        if (tableName == "Select") {
                					            $("#table-name-msg").html("Table name is required")
                					            return Promise.reject(new Error("Table name is required"));
                					        } else {
                					            $("#table-name-msg").html("");
                					            return Promise.resolve();
                					        }
                					    }

                					    checkTruncateTablePromise.then(handleCheckResult)
                					        .then(() => {
                					            // If everything is fine, continue with file upload
                					            const fileInput = $("#file");
                					            const file = fileInput.prop('files')[
                					                0
                					            ];

                					            if (file) {
                					                var formData = new FormData();
                					                formData.append('file', file);

                					                setTimeout(function () {
                					                    var url = '/api/user/addFileAsync?tableName=' + tableName;
                					                    $("#loader").modal('show');
                					                    $.ajax({
                					                        type: "POST",
                					                        contentType: false,
                					                        processData: false,
                					                        url: url,
                					                        data: formData,
                					                        timeout: 1800000,
                					                        success: function (data) {
                					                            console.log("Upload started successfully");
                					                            $("#loader").modal('hide');
                					                            
                					                            if(data.result && data.result[0] && data.result[0].progressKey) {
                					                                showProgressModal(data.result[0].progressKey, data.result[0].totalRows);
                					                            } else {
                					                                $("#msg").html(data.msg);
                					                                $("#successModal").modal("show");
                					                            }
                					                        },
                					                        error: function (e) {
                					                            console.log("Error Upload File");
                					                            $("#msg").html(e.responseJSON.errorMsg);
                					                            $("#loader").modal('hide');
                					                            $("#successModal").modal("show");
                					                        },
                					                    });
                					                },
                					                    1500); // 1000 milliseconds = 1 second
                					            } else {
                					                // Handle case where no file is selected
                					                console.log("No file selected.");
                					            }
                					        })
                					        .catch(error => {
                					            console.error(error);
                					        });
                					}
                					
                					function showProgressModal(progressKey, totalRows) {
                					    $("#upload-progress-modal").modal('show');
                					    $("#progress-total").text(totalRows);
                					    $("#progress-processed").text("0");
                					    $("#progress-percentage").text("0");
                					    $("#progress-bar").css("width", "0%").attr("aria-valuenow", 0);
                					    
                					    var progressInterval = setInterval(function() {
                					        $.ajax({
                					            type: "GET",
                					            url: "/api/user/uploadProgress?progressKey=" + progressKey,
                					            timeout: 10000,
                					            success: function(data) {
                					                if(data.result && data.result[0]) {
                					                    var progress = data.result[0];
                					                    var percentage = progress.percentage || 0;
                					                    
                					                    $("#progress-processed").text(progress.processedRows);
                					                    $("#progress-percentage").text(percentage);
                					                    $("#progress-bar").css("width", percentage + "%").attr("aria-valuenow", percentage);
                					                    
                					                    if(progress.status === "COMPLETED" || progress.status === "ERROR" || 
                					                       progress.status === "COMPLETED_WITH_ERRORS") {
                					                        clearInterval(progressInterval);
                					                        setTimeout(function() {
                					                            $("#upload-progress-modal").modal('hide');
                					                            $("#msg").html(progress.message || "Upload completed");
                					                            $("#successModal").modal("show");
                					                            $("#file").val('');
                					                        }, 1000);
                					                    }
                					                }
                					            },
                					            error: function(e) {
                					                clearInterval(progressInterval);
                					                $("#upload-progress-modal").modal('hide');
                					                $("#msg").html("Error checking progress. Upload may still be running.");
                					                $("#successModal").modal("show");
                					            }
                					        });
                					    }, 2000);
                					}


                					 
                					 async function moveToHistory() {
                						    return new Promise((resolve, reject) => {
                						    	const tableName = $("#tableName").val();
                								console.log("Inside Move to history");
                						        setTimeout(() => {
                						        	var url = '/api/user/moveToHistory?tableName=' + tableName ;  
                									 $.ajax({
                									    type: "GET",
                									    contentType: false,
                									    processData: false,
                									    url: url,
                									    timeout: 1800000,
                									    success: function (data) {
                									    	console.log("Success Move to history");
                									    	$("#exampleModalCenter").modal("hide")
                									    	$("#msg").html(data.msg)
                									    	$("#successModal").modal("show")
                									    },
                									    error: function (e) {
                									    	$("#exampleModalCenter").modal("hide")
                										      $("#msg").html("Table truncation failed!")
                										      $("#successModal").modal("show")
                										   }
                										});
                						            resolve(); 
                						        }, 0);
                						    });
                						}
                					
                					 
                					 async function call() {
                						    let promise1 = moveToHistory(); // Call asynchronous function
                						    let promise2 = acceptTruncateTable(); // Call asynchronous function
                						    await Promise.all([promise1, promise2]); // Await both promises to resolve
                						}
                						
                					
                					 function checkTruncateTable(resolve, reject){
                						$("#message").html("All previous data will be lost. Are you sure?")
                						$("#exampleModalCenter").modal("show")
                						console.log("In Check Truncate Table After message before Accept");
                						$("#accept-change").click(() => {
                							call();
                							console.log("In Check Truncate Table After Accept");
                							resolve();  // Resolve the promise on confirmation click
                							$("#exampleModalCenter").modal("hide");
                						});
                						
                						$("#reject-change").click(() => {
                							reject();  // Reject the promise on cancel click
                							$("#exampleModalCenter").modal("hide");
                						});
                
                					}
                					 
                				 async function acceptTruncateTable() {
                					    return new Promise((resolve, reject) => {
                					    	const tableName = $("#tableName").val();
                					        setTimeout(() => {
                					        	var url = '/api/user/truncateTable?tableName=' + tableName ;  
                								 $.ajax({
                								    type: "GET",
                								    contentType: false,
                								    processData: false,
                								    url: url,
                								    timeout: 600000,
                								    success: function (data) {
                								    	console.log("completed truncate function")
                								    	$("#exampleModalCenter").modal("hide")
                								    	$("#msg").html(data.msg)
                								    	$("#successModal").modal("show")
                								    },
                								    error: function (e) {
                								    	console.log("truncate failed")
                								    	$("#exampleModalCenter").modal("hide")
                									      $("#msg").html("Table truncation failed!")
                									      $("#successModal").modal("show")
                									   }
                									});
                					            
                					            resolve(); 
                					        }, 1000); 
                					    });
                					}
            </script>

            <!-- Footer -->
            <footer class="sticky-footer bg-white" th:insert="Footer::Footer">
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" to end your current session.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal-->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="msg"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Message Modal-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="message"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="accept-change">Accept</button>
                    <button type="button" class="btn btn-secondary" id="reject-change" data-dismiss="modal">Reject</button>

                </div>
            </div>
            <div th:replace="file-progress-modal::~{}"></div>
        </div>
    </div>

    <!-- Loading Modal -->

    <div class="modal" id="loader" tabindex="-1" role="dialog" aria-labelledby="loaderTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <!-- <div class="modal-content"> -->
            <div class="modal-body">
                <img src="../static/img/loading.gif" class="center" th:src="@{img/loading.gif}"></img>
            </div>
            <!-- </div> -->
        </div>
    </div>

    <!-- Profile Modal  -->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!-- <div class="modal-body">Profile Info</div> -->
                <div class="modal-body mx-3">
                    <div class="md-form mb-4">
                        User Name :=
                        <h6 th:text="${session.userName}"></h6>

                    </div>

                    <div class="md-form mb-4">
                        <label>Email :=
                            <h6 th:text="${session.email}"></h6>
                        </label>

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Back</button>
                    <!-- <a class="btn btn-primary" href="logout">Logout</a> -->
                </div>
            </div>
        </div>
    </div>
    
    <!-- Upload Progress Modal -->
<div class="modal fade" id="upload-progress-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Progress</h5>
            </div>
            <div class="modal-body">
                <p>Uploading data, please wait...</p>
                <div class="progress" style="height: 25px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar" 
                         role="progressbar" aria-valuenow="0" style="width: 0%">
                        <span id="progress-percentage">0</span>%
                    </div>
                </div>
                <p class="mt-3">
                    Processed: <span id="progress-processed">0</span> / <span id="progress-total">0</span> rows
                </p>
                <div class="alert alert-info mt-2">
                    <small>This may take several minutes for large files. Please do not close this window.</small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mb-3">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

    

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
</body>

</html>